/*-------------------
          Fonts
--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*-------------------
          Common
--------------------*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

.container {
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*--------------------------------------
            Header Style Start
---------------------------------------*/

.header {
    background: #2D25A0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
}


/* navbar style */

.navbar {
    display: flex;
    grid-column-gap: 440px;
    padding-top: 42px;
}

ul.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style: none;
    margin-right: 36px;
}

.nav-bar li a {
    color: #fff;
    font-size: 16px;
    transition: color .5s ease-in-out;
}


/* navbar hover */

.nav-bar li a:hover {
    color: #E02C6D;
}

.cover-container {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    padding: 153px 0px 86px 0px;
    grid-template-columns: repeat(2, 1fr);
    /* width: 100%; */
    justify-content: space-between;
    grid-column-gap: 105px;
}


/* .cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 153px 104px 86px 168px;
} */

.header-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    width: 485px;
    height: 230px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 27px;
}

button.btn {
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    background: #E02C6D;
    color: #FFFFFF;
    border: none;
    transition: transform ease-in-out 2s;
}

.btn span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
}

.cover-img img {
    width: 556.01px;
    height: 438px;
    transition: transform ease-in-out 1s;
}


/* hover effect */

.btn:hover {
    background-color: #e24981;
    box-shadow: #0000001f 1px 1px 0px 0px;
    cursor: pointer;
}

.cover-container:hover img {
    filter: hue-rotate(22deg);
    transform: rotate(-3deg) scale(0.9);
    cursor: cell;
}


/*--------------------------------------
            Header Style End
---------------------------------------*/


/*--------------------------------------
            Main  Style Start
---------------------------------------*/

main.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.player-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 45px;
    width: 100%;
}

.player-box {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow ease-in-out .5s;
    border-radius: 5px;
}

.player-img {
    width: 330px;
    height: 276px;
    overflow: hidden;
    border-radius: 5px;
    transition: filter ease-in-out 1s;
}

.player-details {
    margin-top: 16px;
}

.player-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    padding-bottom: 10px;
}

.player-description p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* hover effect */

.player-box:hover {
    box-shadow: 0px 0px 20px rgba(128, 104, 104, 0.63);
    cursor: pointer;
}

.player-box:hover .player-img {
    filter: grayscale();
    /* animation: left-right infinite 1s ease-in-out; */
    animation: left-right infinite 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes left-right {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}


/*--------------------------------------
            Blog  Style Start
---------------------------------------*/

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 160px 0px 80px 0px;
}

.article-details {
    width: 469px;
    height: 241px;
}

.article-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    padding-bottom: 8px;
}

.article-des {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    padding-bottom: 24px;
    margin: 0px;
}

.article-img img {
    width: 567px;
    height: 427px;
    transition: box-shadow ease-in-out .5s, border-radius ease-in-out .5s;
}

.article-img img:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    cursor: cell;
}


/*--------------------------------------
            Latest News  Style Start
---------------------------------------*/

.latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-news h1 {
    font-weight: bold;
    font-size: 44px;
    color: #18191F;
    text-align: center;
}

.news-content {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-column-gap: 30px;
    width: 90%;
    padding-top: 60px;
}

.news-box {
    width: 100%;
    height: 100%;
    /* padding: 0px 20px; */
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: #00000012 0px 0px 10px 0px;
    border-radius: 12px;
    padding-bottom: 15px;
}

.news-cover {
    transition: transform 1s ease-in-out;
}

.news-cover img {
    width: 100%;
    height: 100%;
    /* z-index: 10000; */
    position: relative;
    margin: 0px;
    padding: 0px;
}

.news-details {
    /* position: absolute;
    top: 0px;
    left: 0px; */
    z-index: 1000;
    padding: 0px;
    margin: 0px;
}

.news-heading {
    background: #FFFFFF;
    color: #000;
    font-size: 21px;
    color: #18191F;
    text-align: center;
    padding-bottom: 10px;
    padding: 0px 14px;
}

.news-des {
    color: #000;
    text-align: center;
    font-size: 16px;
    color: #6C6C6C;
    display: none;
}


/* latest news hover */

.news-box:hover {
    cursor: pointer;
}

.news-box:hover .news-cover {
    /* transform: scaley(1.2); */
    animation: position-up 1s 1 forwards;
}

.news-box:hover .news-details {
    animation: position-down 1s 1 forwards;
}

.news-box:hover .news-des {
    display: block;
}

@keyframes position-up {
    from {
        position: absolute;
        top: 0px;
    }
    to {
        position: absolute;
        top: -20px;
    }
}

@keyframes position-down {
    from {
        position: absolute;
        top: 220px;
    }
    to {
        position: absolute;
        top: 200px;
    }
}


/*--------------------------------------
           Blog post style start 
---------------------------------------*/

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.blog-post h1 {
    font-weight: bold;
    font-size: 44px;
    color: #18191F;
    text-align: center;
}

.blog-content {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 31px;
    width: 90%;
    padding-top: 60px;
    grid-row-gap: 41px;
}

.blog-box {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 0px #0000000a;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow ease-in-out .5s;
}

.blog-cover {
    margin-right: 16px;
}

.blog-cover img {
    /* height: 120px;
    width: 150px; */
    width: 150px;
    transition: filter ease-in-out 1s;
}

.blog-details .blog-heading {
    font-size: 16px;
}


/* blog hover */

.blog-box:hover {
    cursor: pointer;
    box-shadow: 1px 1px 7px 0px #00000021;
}

.blog-box:hover .blog-cover>img {
    filter: opacity(.8);
}


/*--------------------------------------
            Footer  Style Start
---------------------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 61px;
    padding-top: 80px;
}

.footer-logo img {
    width: 483.87px;
    height: 110px;
}

.social-icon {
    display: flex;
    /* margin-right: 10px; */
    padding-bottom: 20px;
}

.round-corner {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #bdbcbc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    background: #E9EAE0;
    transition: transform 1s, background 1s, color 1s;
}

.round-corner a {
    text-decoration: none;
}

.round-corner>a {
    color: #969BAB;
    transition: background 1s;
}

.copywrite-text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0px;
}

.love {
    color: red;
    font-size: 25px;
}


/* footer hover */

.round-corner:hover i {
    color: #FFFFFF;
}

.round-corner:nth-child(1):hover {
    background: #2D25A0;
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(2):hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(3):hover {
    background: #000;
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(4):hover {
    background: #ea4c89;
    transform: scale(1.5);
    cursor: pointer
}


/*===================================
                Media Querey
 ==================================== */


/***** Mobile screen****** */

@media only screen and (max-width:688px) {
    .navbar {
        display: none
    }
    .cover-container {
        padding-left: 0px;
        padding-right: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cover-content {
        padding-left: 9%;
        padding-bottom: 50px;
    }
    .header-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 56px;
        width: 272px;
        color: #FFFFFF;
        margin: 0px;
    }
    .cover-img img {
        width: 90%;
        height: 100%;
        padding-left: 6%;
    }
    .player-profile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 45px;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 29px;
        grid-column-start: 2;
    }
    .article-details {
        width: 329px;
        height: 100%;
        padding-bottom: 29px;
    }
    .article-img img {
        width: 328px;
        height: 248px;
    }
    .news-content {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 43px;
    }
    .blog-content {
        /* padding-top: 20px;
    display: grid;
    justify-content: center; */
        grid-template-columns: repeat(1, 1fr);
        /* align-items: center;
    grid-column-gap: 31px;
    width: 90%;
    padding-top: 60px;
    grid-row-gap: 41px; */
    }
    .footer-logo img {
        width: 271px;
        height: 63px;
    }
}


/* ***********************Tablet***************** */

@media only screen and (min-width:689px) and (max-width:992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover-container {
        padding-left: 0px;
        padding-right: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cover-content {
        padding-left: 9%;
        padding-bottom: 50px;
    }
    .header-title {
        font-weight: bold;
        font-size: 53px;
        line-height: 66px;
        width: 400px;
        color: #FFFFFF;
        height: 100%;
    }
    .cover-img img {
        width: 90%;
        height: 100%;
        padding-left: 6%;
    }
    .player-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 45px;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 29px;
        grid-column-start: 2;
    }
    .article-details {
        width: 400px;
        height: 100%;
        padding-bottom: 29px;
    }
    .article-img img {
        width: 611px;
        height: 460px;
    }
    .news-content {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .blog-content {
        /* padding-top: 20px;
    display: grid;
    justify-content: center; */
        grid-template-columns: repeat(2, 1fr);
        /* align-items: center;
    grid-column-gap: 31px;
    width: 90%;
    padding-top: 60px;
    grid-row-gap: 41px; */
    }
}