/*-------------------
          Fonts
--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*-------------------
          Common
--------------------*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

.container {
    /* width: 80%; */
    display: flex;
    justify-content: center;
}


/*--------------------------------------
            Header Style Start
---------------------------------------*/

.header {
    background: #2D25A0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
}

.cover-container {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    padding: 153px 0px 86px 0px;
    grid-template-columns: repeat(2, 1fr);
    /* width: 100%; */
    justify-content: space-between;
    grid-column-gap: 105px;
}


/* .cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 153px 104px 86px 168px;
} */

.header-title {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    width: 485px;
    height: 230px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 27px;
}

button.btn {
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    background: #E02C6D;
    color: #FFFFFF;
    border: none;
    transition: transform ease-in-out 2s;
}

.btn span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
}

.cover-img img {
    width: 556.01px;
    height: 438px;
    transition: transform ease-in-out 1s;
}


/* hover effect */

.btn:hover {
    background-color: #e24981;
    box-shadow: #0000001f 1px 1px 0px 0px;
    cursor: pointer;
}

.cover-container:hover img {
    filter: hue-rotate(22deg);
    transform: rotate(-3deg) scale(0.9);
    cursor: cell;
}


/*--------------------------------------
            Header Style End
---------------------------------------*/


/*--------------------------------------
            Main  Style Start
---------------------------------------*/

main.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.player-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 45px;
    width: 100%;
}

.player-box {
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow ease-in-out .5s;
    border-radius: 5px;
}

.player-img {
    width: 330px;
    height: 276px;
    overflow: hidden;
    border-radius: 5px;
    transition: filter ease-in-out 1s;
}

.player-details {
    margin-top: 16px;
}

.player-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    padding-bottom: 10px;
}

.player-description p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* hover effect */

.player-box:hover {
    box-shadow: 0px 0px 20px rgba(128, 104, 104, 0.63);
    cursor: pointer;
}

.player-box:hover .player-img {
    filter: grayscale();
    /* animation: left-right infinite 1s ease-in-out; */
    animation: left-right infinite 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes left-right {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}


/*--------------------------------------
            Blog  Style Start
---------------------------------------*/

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 165px 0px;
}

.article-details {
    width: 469px;
    height: 241px;
}

.article-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    padding-bottom: 8px;
}

.article-des {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    padding-bottom: 24px;
    margin: 0px;
}

.article-img img {
    width: 567px;
    height: 427px;
    transition: box-shadow ease-in-out .5s, border-radius ease-in-out .5s;
}

.article-img img:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    cursor: cell;
}


/*--------------------------------------
            Footer  Style Start
---------------------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 61px;
}

.footer-logo img {
    width: 483.87px;
    height: 110px;
}

.social-icon {
    display: flex;
    /* margin-right: 10px; */
    padding-bottom: 20px;
}

.round-corner {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #bdbcbc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    background: #E9EAE0;
    transition: transform 1s, background 1s, color 1s;
}

.round-corner a {
    text-decoration: none;
}

.round-corner>a {
    color: #969BAB;
    transition: background 1s;
}

.copywrite-text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0px;
}


/* footer hover */

.round-corner:hover i {
    color: #FFFFFF;
}

.round-corner:nth-child(1):hover {
    background: #2D25A0;
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(2):hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(3):hover {
    background: #000;
    transform: scale(1.5);
    cursor: pointer
}

.round-corner:nth-child(4):hover {
    background: #ea4c89;
    transform: scale(1.5);
    cursor: pointer
}


/*===================================
                Media Querey
 ==================================== */


/***** Mobile screen****** */

@media only screen and (max-width:688px) {
    .cover-container {
        padding-left: 0px;
        padding-right: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cover-content {
        padding-left: 9%;
        padding-bottom: 50px;
    }
    .header-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        width: 278px;
        color: #FFFFFF;
    }
    .cover-img img {
        width: 90%;
        height: 100%;
        padding-left: 6%;
    }
    .player-profile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 45px;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 29px;
        grid-column-start: 2;
    }
    .article-details {
        width: 329px;
        height: 100%;
        padding-bottom: 29px;
    }
    .article-img img {
        width: 328px;
        height: 248px;
    }
}


/* ***********************Tablet***************** */

@media only screen and (min-width:689px) and (max-width:992px) {
    .cover-container {
        padding-left: 0px;
        padding-right: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .cover-content {
        padding-left: 9%;
        padding-bottom: 50px;
    }
    .header-title {
        font-weight: bold;
        font-size: 53px;
        line-height: 66px;
        width: 400px;
        color: #FFFFFF;
        height: 100%;
    }
    .cover-img img {
        width: 90%;
        height: 100%;
        padding-left: 6%;
    }
    .player-profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 45px;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 29px;
        grid-column-start: 2;
    }
    .article-details {
        width: 400px;
        height: 100%;
        padding-bottom: 29px;
    }
    .article-img img {
        width: 411px;
        height: 296px;
    }
}